form {
	background-color: rgba(117,233,240,0.75);
	border-radius: 10px;
	padding: 60px ;
	margin: 5%;
	width: 800px;
	margin-left: 320px;
}


body {
		margin: 0;
		padding: 0;
		background-image: url(https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg);
		background-size: cover;
		font-family: courier;
}

h1 {
	text-align: center;
	font-family: courier;
	color: royalblue;
}

h4 {
	text-align: center;
}

.footer {
	bottom:0;
	position: fixed;
	text-align:center;
	width: 100%;
	background-color: peachpuff;
}

h2 {
	text-align: center;
}